@import '../../common/variables';

.autocomplete-search {
  width: 100%;

  &.disabled-autocomplete-search .pf-v5-c-input-group{
    color: var(--pf-v5-global--disabled-color--100);
    background-color: var(--pf-v5-global--disabled-color--300);
    cursor: not-allowed;
    border-color: var(--pf-v5-global--disabled-color--300);
  }
}

.foreman-search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--pf-v5-global--spacer--sm);

  .foreman-search-bar-row {
    display: flex;
    align-items: flex-start;
    gap: var(--pf-v5-global--spacer--sm);
    width: 100%;
  }

  .pf-v5-c-dropdown.pf-m-align-right {
    width: unset;
  }

  .pf-v5-c-dropdown {
    width: unset; // just in case Katello overrides it
  }

  .search-chips-container {
    width: 100%;
  }
}
